.body
{
    width: 100%;
    height: 630px;

    background-image: url("C:\Users\acer\gsp\src\assets\Group 1962.png");
  background-size:auto;
    background-position: top center;
    text-align:left;


}
